@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');
$background-color: rgb(255, 200, 11);
$font-stack: 'Inter', sans-serif;

@mixin heading {
    font-size: 26px;
    word-spacing: 2px;
    margin-bottom: 15px;
}