@media screen and (min-width:768px){
    .mid-match{
        .list-item3 h1{
            font-size: 7rem!important;
            letter-spacing: 1px!important;
        }

        .cta{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}