@media (min-width:768px){
    .mid-match{
        .list {
            .list-item3 h1{
                font-size: 7rem;
                letter-spacing: 1px;
            }

            .cta{
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
    }
}