// header {
//     background-color: transparent;

//     li {
//         list-style: none;

//         a {
//             color: #000;
//             text-decoration: none;
//           }
//     }

//     .hamburger{
//         display: block;
//         cursor:pointer

//         .bar{
//             display:block;
//             width:25px;
//             height:3px;
//             margin:5px auto;
//             -webkit-transition: all 0.3s ease-in-out;
//             transition: all 0.3s ease-in-out;
//             background-color:white;
//           }

//           .hamburger.active .bar:nth-child(2){
//             opacity:0;
//           }
//           .hamburger.active .bar:nth-child(1){
//             transform:translateY(8px) rotate(45deg);
//           }
//           .hamburger.active .bar:nth-child(3){
//             transform:translateY(-8px) rotate(-45deg);
//         }
//         .nav-menu{
//             position: fixed;
//             left:-100%;
//             top:70px;
//             gap:0;
//             flex-direction:column;
//             background-color:#262626;
//             width:100%;
//             text-align:center;
//             transition:0.3s;
//           }
          
//           .nav-item{
//             margin: 16px 0;
//           }
          
//           .nav-menu.active{
//             left: 0;
//           }
//     }
// }
  
